body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-image: url('../images/background-pitch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.question{
  font-size: 50px;
  margin-bottom: 50px;
}

.answers {
  font-size: 50px;  
  margin-bottom: 50px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

button{
    font-size: 50px;
    cursor: pointer;
    height: 80px;
    position: relative;
    margin-top: 20%;
    background-color: #0000FF;
    border: 0px;
	border-radius: 3px;
	padding: 20px;
    color: #FFFFFF;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


/* Added Media Queries for the button */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .question {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .answers {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: left;
        display: inline-block;
    }

    button {
        font-size: 15px;
        cursor: pointer;
        height: 60px;
        position: relative;
        margin-top: 35%;
        background-color: #0000FF;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        color: #FFFFFF;
        }  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .question {
        font-size: 25px;
        margin-bottom: 50px;
    }

    .answers {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
        display: inline-block;
    }

    button {
        font-size: 20px;
        cursor: pointer;
        height: 60px;
        position: relative;
        margin-top: 35%;
        background-color: #0000FF;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .question {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .answers {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: left;
        display: inline-block;
    }

    button {
        font-size: 30px;
        cursor: pointer;
        height: 60px;
        position: relative;
        margin-top: 25%;
        background-color: #0000FF;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .question {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .answers {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: left;
        display: inline-block;
    }

    button {
        font-size: 40px;
        cursor: pointer;
        height: 60px;
        position: relative;
        margin-top: 25%;
        background-color: #0000FF;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        color: #FFFFFF;
    }
}
